<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/charts-apex.9e67d4ed-1.css" />
    <script type="module" src="../../assets/js/hoisted.f31cbe53.js"></script>
</head>

<body>

    <div class="signup-wrapper">
        <!--Nav-->
        <div class="signup-nav">
          <div class="container">
            <div class="signup-nav-inner">
              <div class="start">
                <p >
                  <img class="brand-logo" src="../../assets/img/name.png" alt="Product logo">
                </p>
              </div>
              
            </div>
          </div>
        </div>
    
        <!--Hero-->
        <div class="hero is-fullheight">
          <div class="hero-body">
            <div class="container">
              <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1">
                  <div class="signup-caption">
                    <h1 class="title is-2 is-bold is-leading">Iniciar sesión</h1>
                    <p>
                      Bienvenido a D-LOAN, recuerda que si es la primera vez que entras al sistema verifica tener una conexión estable a internet.
                    </p>
                  </div>
    
                  <div class="signup-form">
                    <form id="loginForm">
                      <div class="field">
                        <label>Usuario</label>
                        <div class="control has-icon">
                          <div class="form-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="feather:mail" class="iconify iconify--feather"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="m22 6l-10 7L2 6"></path></g></svg>
                          </div>
                          <input id="user" name="user" type="text" class="input" placeholder="Ingresa tu usuario" autofocus>
                        </div>
                      </div>
                      <div class="field">
                        <label>Contraseña</label>
                        <div class="control has-icon">
                          <div class="form-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="feather:lock" class="iconify iconify--feather"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><rect width="18" height="11" x="3" y="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></g></svg>
                          </div>
                          <input value="" id="password" name="password" type="password" class="input" placeholder="Ingresa tu contraseña">
                        </div>
                      </div>
                      
                      <div class="field">
                        <div class="buttons">
                          <button class="button is-primary is-fullwidth raised">
                            Iniciar
                          </button>
                        </div>
    
                        <div class="duck-minds">
                          <p>¿no tienes una cuenta? Contacta con tu administrador!</p>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="column is-6">
                  <img class="signup-illustration" src="../../assets/img/login.png" alt="el gif">
                </div>
              </div>
              
            </div>
            
          </div>
          <div class="duck-minds">
            <p>By DuckMinds</p>
          </div>
        </div>

        

      </div>

      <script src="./app.js"></script>

</body>

</html>